/**
 * @file
 * Styling for D01 drupal toolbar module.
 */


.toolbar .toolbar-bar .toolbar-icon-links:before{
    background-image: url(../icons/bebebe/links.svg);
}
.toolbar-bar .toolbar-icon-links:active:before,
.toolbar-bar .toolbar-icon-links.is-active:before {
    background-image: url(../icons/ffffff/links.svg);
}

.toolbar-bar ul.toolbar-links-menu {
    position: relative;
}

.toolbar-bar ul.toolbar-links-menu,
.toolbar-bar ul.toolbar-links-menu li {
    padding: 0;
    margin: 0;
}